.stats {
    margin: 15px 0;
    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 15px;
    }
    &__card {
        background-color: var(--card-background-color);
        color: var(--text-color);
        width: 220px;
        border: 3px solid lightgrey;
        border-radius: 13px;
        &-title {
            text-align: center;
            border-bottom: 1px solid lightgrey;
            padding: 5px;
        }
    }
}