<div class="stats">
    <div class="stats__cards">
        <div class="stats__card">
            <h3 class="stats__card-title"> BedWars </h3>
            <p>Вбивств: <span>{{ data.stats.BW.global.kills }}</span></p>
            <p>Перемог: <span>{{ data.stats.BW.global.wins }}</span></p>
            <p>Смертей: <span>{{ data.stats.BW.global.deaths }}</span></p>
            <p>Ігор: <span>{{ data.stats.BW.global.games }}</span></p>
        </div>
        <div class="stats__card">
            <h3 class="stats__card-title"> Annihilation </h3>
            <p>Вбивств: <span>{{ data.stats.ANN.global.kills }}</span></p>
            <p>Вбивств з лука: <span>{{ data.stats.ANN.global.bowkills }}</span></p>
            <p>Перемог: <span>{{ data.stats.BB.global.wins }}</span></p>
        </div>
        <div class="stats__card">
            <h3 class="stats__card-title"> BlockParty </h3>
            <p>Перемог: <span>{{ data.stats.BP.global.wins }}</span></p>
            <p>Ігор: <span>{{ data.stats.BP.global.games }}</span></p>
        </div>
        <div class="stats__card">
            <h3 class="stats__card-title"> DeathRun </h3>
            <p>Перемог: <span>{{ data.stats.DR.global.wins }}</span></p>
            <p>Ігор: <span>{{ data.stats.DR.global.games }}</span></p>
        </div>
        <div class="stats__card">
            <h3 class="stats__card-title"> Duels </h3>
            <p>Перемог самотужки: <span>{{ data.stats.DUELS.global.solo_wins }}</span></p>
            <p>Перемог в паті: <span>{{ data.stats.DUELS.global.team_wins }}</span></p>
            <p>Ігор: <span>{{ data.stats.DUELS.global.solo_games }}</span></p>
            <p>Ігор в паті: <span>{{ data.stats.DUELS.global.team_games }}</span></p>
        </div>
        <div class="stats__card">
            <h3 class="stats__card-title"> GunGame </h3>
            <p>Вбивств: <span>{{ data.stats.GG.global.kills }}</span></p>
            <p>Перемог: <span>{{ data.stats.GG.global.wins }}</span></p>
            <p>Ігор: <span>{{ data.stats.GG.global.games }}</span></p>
        </div>
        <div class="stats__card">
            <h3 class="stats__card-title"> HungerGames </h3>
            <p>Вбивств: <span>{{ data.stats.HG.global.kills }}</span></p>
            <p>Перемог: <span>{{ data.stats.GG.global.wins }}</span></p>
            <p>Ігор: <span>{{ data.stats.HG.global.games }}</span></p>
        </div>
        <div class="stats__card">
            <h3 class="stats__card-title"> KitPvP </h3>
            <p>Вбивств: <span>{{ data.stats.KPVP.global.kills }}</span></p>
            <p>Смертей: <span>{{ data.stats.KPVP.global.deaths }}</span></p>
        </div>
        <div class="stats__card">
            <h3 class="stats__card-title"> MobWars </h3>
            <p>Перемог: <span>{{ data.stats.MW.global.wins }}</span></p>
            <p>Ігор: <span>{{ data.stats.MW.global.games }}</span></p>
        </div>
        <div class="stats__card">
            <h3 class="stats__card-title"> Prison </h3>
            <p>Вбивств: <span>{{ data.stats.PRISON.global.kills }}</span></p>
            <p>Викопано блоків: <span>{{ data.stats.PRISON.global.total_blocks }}</span></p>
            <p>Всього грошей: <span>{{ data.stats.PRISON.global.earned_money }}</span></p>
            <p>Смертей: <span>{{ data.stats.PRISON.global.deaths }}</span></p>
            <p>Вбито мобів: <span>{{ data.stats.PRISON.global.mobs }}</span></p>
        </div>
        <div class="stats__card">
            <h3 class="stats__card-title"> SkyWars </h3>
            <p>Вбивств: <span>{{ data.stats.SW.global.kills }}</span></p>
            <p>Перемог: <span>{{ data.stats.SW.global.wins }}</span></p>
            <p>Ігор: <span>{{ data.stats.SW.global.games }}</span></p>
            <p>Смертей: <span>{{ data.stats.SW.global.deaths }}</span></p>
        </div>
        <div class="stats__card">
            <h3 class="stats__card-title"> Acards </h3>
            <p>Вбивств: <span>{{ data.stats.ARC.global.kills }}</span></p>
            <p>Перемог: <span>{{ data.stats.ARC.global.wins }}</span></p>
            <p>Ігор: <span>{{ data.stats.ARC.global.games }}</span></p>
            <p>Смертей: <span>{{ data.stats.ARC.global.deaths }}</span></p>
        </div>
    </div>
</div>
