.title {
    text-align: center;
}

.matches__cards {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    text-align: center;
}
.matches__card {
    background-color: var(--card-background-color);
    color: var(--text-color);
    box-shadow: 0 0 18px rgb(0 0 0 / 5%);
    width: 250px;
    padding: 10px;
    border: 3px solid lightgrey;
    border-radius: 13px;
    &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}
